<template>
    <v-container>
        <Navbar/>
        <h2>Documentation</h2>
        <div id="grille_form">
            <B2Grille />
            <div id="form">
                <input type="text" id="code" placeholder="Entrez le code" />
                <input class="v-btn secondary" type="submit" @click="VerifGrille()" />
            </div>
        </div>
        <div v-if="num == 41">
            <template>
                <v-sheet
                        class="mx-auto"
                >

                    <v-slide-group show-arrows mandatory active-class>
                        <v-slide-item
                                v-for="link in links"
                                :key="link.name"
                                v-slot:default="{ active, toggle}"
                        >
                            <div>
                            <v-btn
                                    class="mx-2"
                                    :input-value="active"
                                    active-class="primary white--text"
                                    depressed
                                    rounded
                                    @click="[displayText(link), toggle()]"
                            >
                                {{ link.name }}
                            </v-btn>
                            </div>
                        </v-slide-item>

                    </v-slide-group>
                    <p v-if="textActive"><pre>{{textActive}}</pre></p>
                    <p v-else><pre>{{ links[0].text }}</pre></p>
                </v-sheet>
            </template>
        </div>
        <div v-else-if="num == null"></div>
        <div v-else><p>Erreur, Mauvais code</p></div>

    </v-container>
</template>

<script>
    import Navbar from "./Navbar";
    import B2Grille from "./B2Grille"

    export default {
        components: {Navbar, B2Grille},
        data: () => ({
            num: null,
            model: null,
            textActive: '',
            links: [
                {name: "Niveaux d'alarme", text: "Avant d'entamer toute procédure, veuillez identifier le niveau de l'alarme.\n" +
                        "Pour rappel : \n\nNiveau 1 : alarme\n" +
                        "Niveau 2 : alarme + verrouillage des portes \n" +
                        "Niveau 3 : alarme + verrouillage des portes + procédure d’urgence déclenchée \n"
                },
                {name: "Procédure", text: "Si l'alarme est de niveau 1, pas de panique,\nil s'agit uniquement d'une alerte de vigileance dûe à un système de ventilation défaillant.\nIdentifier le virus concerné et relancer manuellement \nles systèmes de ventilation à partir du panneau de contrôle.\n\n" +
                        "En cas de niveau 2,\nune faille de confinement du virus a été détectée.\nLe système de sécurité se déclenchent et resteront bloquées jusqu'à la réactivation du système de ventilation.\nIl est très important de veiller à confiner le virus avant de déclencher le système de ventilation,\n sous peine de disperser davantage le virus.\n\n" +
                        "En cas de niveau 3,\nUne brèche dans le contenant d'un virus mortel a été détectée.\nIdentifier-le au plus vite et désactiver l'alarme. Le système d'urgence d'aspiration de l'air se mettra en route dans 1h. \nLes issues de secours seront bloquées jusqu'à la réactivation du système de ventilation.\nAvant d'activer ce système, veillez suivre la procédure suivante : {{dispositif à mettre à jour}}.\nUne fois le système de ventilation réactivé, les portes se débloqueront.\nTrouvez la composition du digicode pour sortir.\n"},
                {name: "Notes", text: "Une livraison sécurisée d'échantillons de virus aura lieu d'ici deux jours\n" +
                        "Le système de communication est hors-service. \nUn technicien doit passer dans les prochains jours."},
                {name: "Numéros d'urgence", text:`Service technique : 6832\n` +
                        "Service maintenance : 4875\n" +
                        "Direction : 1795\n" +
                        "Service nettoyage : 4765\n" +
                        "Pompier : 0018\n" +
                        "Police : 0017\n" +
                        "SAMU : 0015\n"}
            ]
        }),
        methods: {
            toggle(toggle) {
                console.log(toggle)
            },
            displayText(link) {
                console.log(link.text)
                this.textActive = link.text;
            },
            VerifGrille() {
                var num = document.getElementById("code").value
                this.num = num;
                if(num==41) {
                    document.getElementById("grille_form").style.display = "none";
                }
                else {
                    document.getElementById("grille_form").style.display = "block";
                }
            }

        },
    }

</script>

<style scoped>
    .theme--dark.v-sheet {
        background: none;
    }
    #form {
        margin: auto;
    }
    input {
        display: block;
        margin: auto;
        background-color: white;
        color: black;
        margin-bottom: 15px;
    }
</style>