<template>
    <div>
        <p>Communiquez afin de pouvoir résoudre les énigmes</p>
        <table id="grilleB1">
            <!-- <tr>
                <td id="noBorder"></td>
                <td class="legNumber">1</td>
                <td class="legNumber">2</td>
                <td class="legNumber">3</td>
                <td class="legNumber">4</td>
                <td class="legNumber">5</td>
                <td class="legNumber">6</td>
            </tr> -->
            <tr>
                <!-- <td class="legAlpha">A</td> -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <!-- <td class="legAlpha">B</td> -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <!-- <td class="legAlpha">C</td> -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <!-- <td class="legAlpha">D</td> -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    #grilleB1 {
        margin: auto;
        margin-bottom: 15px;
        border-collapse: collapse;
        td, th {
            width: 50px;
            height: 50px;
            border: 1px solid #FFF;
            text-align: center;
        }
        #noBorder {
            border: none;
        }
        .legNumber {
            border-top: none;
            border-right: none;
            border-left: none;
        }
        .legAlpha {
            border-top: none;
            border-bottom: none;
            border-left: none;
        }
    }
</style>