<template>
    <v-container>
        <Navbar/>
        <h2>Système de communication</h2>
        <div style="text-align: center; display: block">
            <img src="@/assets/communication.jpg" style="max-width: 300px"
                 alt="Photo d'une radio émetteur-récepteur de secours"><br>

            <div style="margin: 20px">
                <p>{{ message }}</p>

                <label for="communication">Taper le numéro : </label>
                <input type="text" name="communication" id="communication" class="secondary" minlength="4" maxlength="4">
            </div>

            <v-btn type="submit" class="secondary" @click="validate()">Valider</v-btn>
        </div>

    </v-container>

</template>

<script>
    import Navbar from "./Navbar";

    export default {
        components: {Navbar},
        data: () => ({
            isHidden: true,
            message: '',

        }),
        methods: {
            activate() {
                this.message = `Appel en cours...`
                setTimeout(() => {
                    this.message = 'Pas de réponse. Le système semble hors de service.';
                }, 3000)
            }
        }
    }
</script>

<style scoped>

</style>