<template>
    <v-container id="inspire">
        <v-navigation-drawer
                v-model="drawer"
                app
                clipped
        >

            <v-list dense>
                    <v-list-item link v-for="link in links" :key="link.name" @click="$router.push(link.route)" class="primary--text">
                        <v-list-item-action>
                            <v-icon dense>{{ link.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>{{ link.name }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
            </v-list>

<!--            <v-list dense v-for="link in links" :key="link.name">
                <v-list-item link :to=" link.route">
                    <v-list-item-icon class="mr-3">
                        <v-icon dense>{{ link.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-title>{{ link.name }}</v-list-item-title>
                </v-list-item>
            </v-list>-->
        </v-navigation-drawer>

        <v-app-bar
                app
                clipped-left
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
            <v-toolbar-title>Institut de recherche virologique : Bureau 1</v-toolbar-title>
        </v-app-bar>

    </v-container>
</template>

<script>
    export default {
        props: {
            source: String,
        },
        data: () => ({
            drawer: null,
            links: [
/*
                {name: 'Home', icon: 'mdi-home', route: {name: 'Home'}},
*/
                {name: 'Système d\'urgence', icon: 'mdi-alarm-light', route: {name: 'Emergency'}},
                {name: 'Documentation', icon: 'mdi-notebook-multiple', route: {name: 'Documentation'}},
                {name: 'Déverrouillage des portes', icon: 'mdi-door-closed-lock', route: {name: 'Doors'}},
                {name: 'Système de communication', icon: 'mdi-phone-in-talk', route: {name: 'Communication'}},
                {name: 'Désactivation de l\'alarme', icon: 'mdi-bell-off', route: {name: 'Alarm'}},
                {name: 'Système de ventilation', icon: 'mdi-fan', route: {name: 'Fan'}},
                {name: 'Système de confinement', icon: 'mdi-package', route: {name: 'Containment'}},
                {name: 'Aides', icon: 'mdi-help-box', route: {name: 'Help'}},

            ]
        }),
        created () {
            this.$vuetify.theme.dark = true
        },
    }
</script>

<style scoped>

</style>