<template>
    <v-container>
        <Navbar/>
        <h2>Désactivation de l'alarme</h2>
        <div id="mdp" style="text-align: center; ">
            <img src="@/assets/alarm.jpg" style="max-width: 300px" alt="Photo d'un digicode d'alarme"><br>

            <div style="margin: 20px">
                <p>{{ message }}</p>

                <label for="alarm">Entrer le code : </label>
                <input type="text" name="alarm" id="alarm" class="secondary" maxlength="3" minlength="3">
            </div>

            <v-btn type="submit" class="secondary" @click="validate()">Valider</v-btn>
            <div style="margin-top: 40px; text-align: center; display: block">
                <img src="@/assets/carre.png" width="200px" style="max-width: 300px" alt="Décodeur"><br>
            </div>
        </div>
        <div id="listeVirus" hidden>
            <div style="text-align: center;">
                <p>Alarme désactivée ! Trouver le nom du virus pour le confiner.</p>
            </div>
            <div style="margin-top: 50px; border: 1px solid white">
                <div style="margin: 5px">
                    <p>Liste des virus :</p>
                    <br>
                    <p>Rage : <img src="@/assets/images/Rage.jpg" style="max-width: 100px"></p>
                    <p>Peste : <img src="@/assets/images/Peste.jpg" style="max-width: 100px"></p>
                    <p>Wuhan : <img src="@/assets/images/Wuhan.jpg" style="max-width: 100px"></p>
                    <p>Grippe : <img src="@/assets/images/Grippe.jpg" style="max-width: 100px"></p>
                </div>
            </div>
        </div>
    </v-container>
</template>

<script>
    import Navbar from "./Navbar";

    export default {
        components: {Navbar},
        data: () => ({
            message: '',

        }),
        methods: {
            validate() {
                const nameInput = document.querySelector('input');
                console.log(nameInput.value)
                nameInput.disabled = true;

                this.message = `Vérification...`
                setTimeout(() => {
                    if (nameInput.value == 368) {
                        document.getElementById('mdp').hidden = true;
                        document.getElementById('listeVirus').hidden = false;
                    } else {
                        this.message = "Erreur : mot de passe incorrect"
                        nameInput.disabled = false;
                    }
                }, 5000)

            }
        }
    }
</script>

<style scoped>

</style>