<template>
        <p class="display-3">{{ timerCount | minutesAndSeconds }}</p>

</template>

<script>

    export default {

        data() {
            return {
                timerCount: 3599
            }
        },
        filters: {
            minutesAndSeconds(value) {
                var minutes = Math.floor(parseInt(value, 10) / 60)
                var seconds = parseInt(value, 10) - minutes * 60
                return `${minutes}:${seconds}`
            }
        },

        watch: {
            timerCount: {
                handler(value) {

                    if (value > 0) {
                        setTimeout(() => {
                            this.timerCount--;
                        }, 1000);
                    }
                },
                immediate: true // Lance automatiquement le décompte au chargement de la page
            }
        }
    }

</script>