<template>
    <v-container class="home">
        <template>
            <v-card dark
                    class="mx-auto"
                    max-width="800"
            >
                <v-img
                        src="https://i.picsum.photos/id/1033/2048/1365.jpg"
                        height="200px"
                ></v-img>


                <v-card-title class="justify-center">
                    Le laboratoire
                </v-card-title>
                <v-card-subtitle style="text-align: center">
                    Mini escape Game
                </v-card-subtitle>

                <v-divider></v-divider>

                <v-card-text class="text-justify">
                    <h3>Règles</h3>
                    <ul>
                        <li>Vous devez être 3 joueurs</li>
                        <li>Vous devez communiquer uniquement à l'oral</li>
                        <li>Vous pouvez prendre des notes de vos recherches</li>
                    </ul>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-text class="text-justify">
                    <h3>Histoire</h3>
                    <p>Vous travaillez dans un laboratoire virologique avec 2 collègues. Une alarme
                        retentit, les portes se bloquent et vous êtes chacun dans un bureau séparé. Les instructions
                        sont éparpillés dans les différents bureaux, vous allez devoir coopérer pour vous en sortir.
                        Vous avez 1 heure avant que le système d’aspiration d’air se mettent en route, vous condamnant à
                        une mort certaine.
                    </p>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-text class="text-justify">
                    <h4 class="text-center">Choisissez chacun un bureau différent</h4>
                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn v-on:click="desk1" to="/emergency1" color="primary" text>
                            Bureau 1
                        </v-btn>

                        <v-spacer></v-spacer>
                        <v-btn v-on:click="desk2" to="/emergency2" color="primary" text>
                            Bureau 2
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn v-on:click="desk3" to="/emergency3" color="primary" text>
                            Bureau 3
                        </v-btn>
                        <v-spacer></v-spacer>

                    </v-card-actions>
                </v-card-text>

            </v-card>
        </template>

    </v-container>
</template>

<script>
    export default {
        name: 'Home',
        components: {},
        data: () => ({
            show: false,
        }),
        created() {
            this.$vuetify.theme.dark = true
        },
    }
</script>
