<template>
    <v-app dark>
        <v-content>
            <router-view></router-view>
        </v-content>
        <Footer/>
    </v-app>
</template>

<script>
import Footer from "./views/Footer";

export default {
  name: 'App',

  components: {
    Footer
  },

  data: () => ({
  }),
};
</script>
